<div class="login">
    <img src="<%= url('/images/ovechkin.jpg') %>">
</div>
<div class="login">
    <a href='/auth/twitter'>
        <img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-link.png" title="Sign in with Twitter">
    </a>
</div>