<form action=<%= url('/submit')%> method="post">
  <p>
    <label for="douche">Name: </label>
    <input type="text" name="douche"></br>
    <label for="quote">Quote: </label>
    <textarea name="quote"></textarea></br>
    <label for="link">Link to Quote: </label>
    <input type="text" name="link"></br>
    <label for="ovi">Link to Goal: </label>
    <input type="text" name="ovi"></br>
    <input type="submit" value="Submit">
  </p>
</form>